<h1>О нас</h1>
<p>Привет ещё раз! Как ты, возможно, уже успел узнать, мы - глубоко законспирированная <del>банда распиздяев</del><ins>группа единомышленников</ins>, которые решили облагодетельствовать русский сектор интернета очередным чудом веб-технологий двадцать первого века. <del>Наши цели скрыты тьмой, наши инструменты - консоль и редактор, мы поработим этот ми</del><ins>Ой, что-то меня опять понесло.</ins></p>
<p>Короче.</p>
<p>Создателями этого сайта являются три человека, которые чуть позже сами про себя напишут. Каждый. Лично про себя. Договорились? Ну и отлично.</p>
