<h1>Аукцион цифровых товаров «RuBid», Главная Страница.</h1>
<p>Привет! Это скелетная версия будущего аукциона. Скоро здесь будет много разных фишек и фишечек, так что не покидай нас надолго.</p>
<p>Пока ничего особенного здесь нет, можешь ознакомиться с тем, что есть. Например, на этой странице работают все ссылки.</p>
<p>P.S. Наш ведущий дизайнер - распиздяй, поэтому страница выглядит так странно :-)</p>
