<h1>Список активных лотов</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lots.each do |lot| %>
  <tr>
    <td><%= link_to 'Подробнее...', lot %></td>
    <td><%= link_to 'Правка', edit_lot_path(lot) %></td>
    <td><%= link_to 'Удаление', lot, confirm: 'Уверен?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать новый лот!', new_lot_path %>
